@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body {
    font-family: 'Roboto', sans-serif;
    margin: 1.5rem 5rem;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: flex-start;
}

.section {
    margin-top: 0.75rem;
}

.section div{
    padding: 0.25rem;
    background-color: rgb(199, 234, 250);
}

.section p {
    margin-left: 4rem;
    font-weight: bold;
}

.text {
    padding-left: 3rem;
}

